body {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
img {
  vertical-align: bottom;
  line-height: 0;
}
::-moz-selection {
  background: $red;
  color: $white;
}

::selection {
  background: $red;
  color: $white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
